ul {
  &.cards-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 15px 0 15px 15px;
  }

  &.dealer {
    .list-item {
      &:first-child {
        filter: contrast(0);
      }
    }
  }

  .list-item {
    position: absolute;
    &:last-child {
      position: relative;
      visibility: hidden;
    }
  }
}
