.App {
  .content-container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      cursor: pointer;
      outline: none;
      padding: 7px 22px;
      background: rgb(48, 208, 236);
      border-color: #30d0ec;
      border-radius: 15px;
      border-style: none;
      box-shadow: 2px 4px #999;
      &:active {
        transform: translateY(1px);
        box-shadow: 1px 2px #666;
      }
      &:hover {
        background-color: #3fbed4;
      }
    }
  }
}
